<a href="https://colab.research.google.com/github/Temesgenasmamaw/AI-based-mobile-app-to-enhance-agriculture-/blob/main/crop_recommendation_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Lasso
from sklearn.naive_bayes import MultinomialNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import classification_report
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import cross_val_score,StratifiedKFold,KFold

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/final year project/dataset/crop_dataset_c04.csv')
df

            ph    rain fall     altitude  temprature   label
0     6.831501   995.880320  2657.983736   23.219408   wheat
1     6.779222   930.632865  2520.783140   21.372756   wheat
2     6.071859   971.850175  2261.388116   16.913500   wheat
3     7.291239   870.957942  2756.669357   23.742470   wheat
4     5.986033   917.822347  1850.515011   15.196118   wheat
...        ...          ...          ...         ...     ...
1194  5.069010  1054.897876  2100.064506   10.622032  Bokolo
1195  6.371700  1232.563360   682.739484   21.593218  Bokolo
1196  6.162931  1276.104256  1318.543324   21.920742  Bokolo
1197  5.315169  1074.199430  2359.741849   28.595925  Bokolo
1198  5.163241  1314.174725  1429.621495   25.558628  Bokolo

[1199 rows x 5 columns]

In [ ]:
df.shape

(1199, 5)

In [ ]:
df.isnull().sum()

ph            0
rain fall     0
altitude      0
temprature    0
label         0
dtype: int64

In [ ]:
df['label'].value_counts()

Teff      300
Gebs      300
Bokolo    300
wheat     299
Name: label, dtype: int64

In [ ]:
labels=df['label'].unique()
print(labels)

['wheat' 'Teff' 'Gebs' 'Bokolo']

In [ ]:
# sns.heatmap(df.corr(),annot=True)

In [ ]:
features = df[['ph',	'rain fall',	'altitude',	'temprature']]
target = df['label']

labels = df['label']

In [ ]:
df.describe()

                ph    rain fall     altitude   temprature
count  1199.000000  1199.000000  1199.000000  1199.000000
mean      6.164976   930.126799  2126.885398    18.351324
std       0.917287   195.390526   547.906251     6.263276
min       4.502880   501.161049   511.531419     5.022656
25%       5.332963   826.121898  1850.346543    13.815553
50%       6.260777   917.971912  2240.586610    17.870172
75%       6.929562  1037.583592  2505.646070    22.580239
max       7.795996  1497.108850  2998.884777    34.974242

In [ ]:
#random_state parameter  that is used to control the random shuffling of the data before the split.
X_train, X_test, y_train, y_test = train_test_split(features,target,test_size = 0.2,stratify=labels,random_state =2)

In [ ]:
# scaler= StandardScaler()
# X_train= scaler.fit_transform(X_train)
# X_test= scaler.transform(X_test)

In [ ]:
# Initialzing empty lists to append all model's name and corresponding name
acc = []
model = []

In [ ]:
DecisionTree = DecisionTreeClassifier(criterion="gini",splitter='best',random_state=2,max_depth=5)

DecisionTree.fit(X_train, y_train)

predicted_values = DecisionTree.predict(X_test)
x = accuracy_score(y_test, predicted_values)
acc.append(x)
model.append('Decision Tree')
print("DecisionTrees's Accuracy is: ", x*100)

# print(classification_report(y_test,predicted_values))

DecisionTrees's Accuracy is:  90.41666666666667

In [ ]:
test_data=[6.831501,	995.880320,	2657.983736,	23.219408]
data = np.array([test_data])
prediction = DecisionTree.predict(data)
print(prediction)
print(type(prediction))

['wheat']
<class 'numpy.ndarray'>

In [ ]:
NaiveBayes = GaussianNB()

NaiveBayes.fit(X_train,y_train)

predicted_values = NaiveBayes.predict(X_test)
x = accuracy_score(y_test, predicted_values)
acc.append(x)
model.append('Naive Bayes')
print("Naive Bayes's Accuracy is: ", x)

# print(classification_report(y_test,predicted_values))

Naive Bayes's Accuracy is:  0.9083333333333333

In [ ]:
data = np.array([[5.188012,	1144.933743,	13.237375,	2114.561160	]])
prediction = NaiveBayes.predict(data)
print(prediction)

['Bokolo']

In [ ]:
LR_model = LogisticRegression(random_state=2)
LR_model.fit(X_train,y_train)

predicted_lr_train = LR_model.predict(X_train)
m3 = accuracy_score(y_train,predicted_lr_train)
print('Traning Accuracy of Logistic Regression Model:',m3)

# Testing accuracy
predicted_lr_test = LR_model.predict(X_test)
m4 = accuracy_score(y_test,predicted_lr_test)
print('Testing Accuracy of Logistic Regression Model:',m4)
print(LR_model.score(X_test,y_test))

Traning Accuracy of Logistic Regression Model: 0.6788321167883211
Testing Accuracy of Logistic Regression Model: 0.65
0.65

In [ ]:
data = np.array([[5.188012,	1144.933743,	13.237375,	2114.561160	]])
prediction = LR_model.predict(data)
print(prediction)

['Bokolo']

In [ ]:
classifier= KNeighborsClassifier(n_neighbors=5, metric='minkowski', p=2 )
classifier.fit(X_train, y_train)
#Predicting the test set result
y_pred= classifier.predict(X_test)
accuracy=accuracy_score(y_test, y_pred)
print('accuracy===>',accuracy)

#prediction
data = np.array([[5.188012,	1144.933743,	13.237375,	2114.561160	]])
prediction = classifier.predict(data)
print('predicted value==>',prediction)

accuracy===> 0.6708333333333333
predicted value==> ['Bokolo']

In [ ]:
def kfold(model,X,y,cv):
  return cross_val_score(model,X,y,cv=cv)

In [ ]:
from sklearn.model_selection import ShuffleSplit


cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)


print(kfold(LogisticRegression(), features, target, cv=cv))
print(kfold(RandomForestClassifier(), features, target, cv=cv))
print(kfold(SVC(), features, target, cv=cv))

[0.66666667 0.65       0.6875     0.6625     0.6875    ]
[0.96666667 0.95       0.96666667 0.94583333 0.95      ]
[0.55       0.61666667 0.56666667 0.55416667 0.5875    ]

In [ ]:
def get_score(model, X_train, X_test, y_train, y_test):
    model.fit(X_train, y_train)
    return model.score(X_test, y_test)
    # return model.score(X_train, y_train)

In [ ]:
folds = StratifiedKFold(n_splits=5)

scores_logistic = []
scores_svm = []
scores_rf = []
for train_index, test_index in folds.split(features,target):
    #X_train, X_test, y_train, y_test = X[train_index], X[test_index],y[train_index], y[test_index]
    X_train, X_test = features.iloc[train_index], features.iloc[test_index]
    y_train, y_test = target.iloc[train_index], target.iloc[test_index]
    scores_logistic.append(get_score(LogisticRegression(solver='liblinear',multi_class='ovr'), X_train, X_test, y_train, y_test))
    scores_svm.append(get_score(SVC(gamma='scale',kernel='rbf',C=30.0 ), X_train, X_test, y_train, y_test))
    scores_rf.append(get_score(RandomForestClassifier(n_estimators=40), X_train, X_test, y_train, y_test))

In [ ]:
print(scores_rf,'\navarage is:'+str(np.average(scores_rf)))

[0.95, 0.9541666666666667, 0.9583333333333334, 0.9541666666666667, 0.9372384937238494]
avarage is:0.9507810320781033

In [ ]:
scores_svm,np.average(scores_svm)

([0.6583333333333333, 0.6375, 0.6541666666666667, 0.725, 0.6820083682008368],
 0.6714016736401673)

In [ ]:
from sklearn.model_selection import GridSearchCV
def find_best_model_using_gridsearchcv(X,y):
    algos = {
        'logistic_regression' : {
        'model': LogisticRegression(solver='liblinear',multi_class='auto'),
        'params': {
            'C': [1,5,10]
        }
    },
          'svm': {
            'model': SVC(),
            'params': {
                'C': [1,5,10,20,40],
                'kernel': ['rbf', 'linear'],
                'gamma':['scale','auto']
            }
        },
        'random_forest': {
        'model': RandomForestClassifier(),
        'params' : {
            'n_estimators': [1,5,10,40]
        }
    },
    'decision_tree': {
            'model': DecisionTreeClassifier(),
            'params': {
                'criterion' : ['gini', 'log_loss', 'entropy'],
                'splitter': ['best','random']
            }
        },
    'naive_bayes_gaussian': {
        'model': GaussianNB(),
        'params': {}
    },
    'naive_bayes_multinomial': {
        'model': MultinomialNB(),
        'params': {}
    },
    }
    scores = []
    cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
    for algo_name, config in algos.items():
        gs =  GridSearchCV(config['model'], config['params'], cv=cv, return_train_score=False)
        gs.fit(X,y)
        scores.append({
            'model': algo_name,
            'best_score': gs.best_score_,
            'best_params': gs.best_params_,
        })

    return pd.DataFrame(scores,columns=['model','best_score','best_params'])

find_best_model_using_gridsearchcv(features,target)

,model,best_score,best_params
0,logistic_regression,0.759167,{'C': 10}
1,svm,0.820833,"{'C': 1, 'gamma': 'scale', 'kernel': 'linear'}"
2,random_forest,0.955833,{'n_estimators': 40}
3,decision_tree,0.935000,"{'criterion': 'entropy', 'splitter': 'best'}"
4,naive_bayes_gaussian,0.920000,{}
5,naive_bayes_multinomial,0.555000,{}

In [ ]:
rf_model=RandomForestClassifier(n_estimators=40,random_state=3).fit(X_train,y_train)
predicted=rf_model.predict(X_test)
score=accuracy_score(y_test,predicted)
score1=rf_model.score(X_test,y_test)
print('accuracy_score',score)
print('score:',score1)

accuracy_score 0.9414225941422594
score: 0.9414225941422594

In [ ]:
import pickle
# Dump the trained Naive Bayes classifier with Pickle
rf_pkl_filename = '/content/drive/MyDrive/final year project/myModel_04.pkl'
# Open the file to save as pkl file
rf_Model_pkl = open(rf_pkl_filename, 'wb')
pickle.dump(rf_model, rf_Model_pkl)
# Close the pickle instances
rf_Model_pkl.close()